@charset "UTF-8";
/*==============
$MIXINS
===============*/
/* Breakpoints */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'sudokublack';
  src: url("fonts/sudoku_black/sudoku_black-webfont.eot");
  src: url("fonts/sudoku_black/sudoku_black-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/sudoku_black/sudoku_black-webfont.woff") format("woff"), url("fonts/sudoku_black/sudoku_black-webfont.ttf") format("truetype"), url("fonts/sudoku_black/sudoku_black-webfont.svg#sudokublack") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Sanchez Light';
  src: url("fonts/sanchez_light/Sanchez-Light.eot");
  /* IE9 Compat Modes */
  src: url("fonts/sanchez_light/Sanchez-Light.eot?#iefix") format("embedded-opentype"), url("fonts/sanchez_light/Sanchez-Light.woff") format("woff"), url("fonts/sanchez_light/Sanchez-Light.ttf") format("truetype"), url("fonts/sanchez_light/Sanchez-Light.svg#6336b204f4a405670528d0ad5214ead7") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 200;
}
html {
  font: 100%/1.5 Arial, sans-serif;
}
@media (min-width: 64.063em) {
  html {
    font: 125%/1.5 Arial, sans-serif;
  }
}

body {
  font-family: 'Sanchez Light', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h2 {
  margin-bottom: .3em;
}

h3 {
  margin-bottom: .5em;
}

h4 {
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: tomato;
  transition: all 0.2s ease-out;
}
a:hover {
  transition: all 0.2s ease-in;
  color: #ff8e7a;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

p {
  line-height: 1.5;
  margin: 0 0 1em;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

code, pre {
  font-family: monospace, serif;
  font-size: .9em;
  background: whitesmoke;
  padding-left: 1em;
  display: block;
}

.highlight {
  margin-bottom: 2em;
}

pre {
  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
  padding: .5em 0;
  margin-bottom: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 0 1em 0;
}

li {
  padding-left: 1em;
  text-indent: -.7em;
}

li:before {
  content: "• ";
  color: tomato;
}

blockquote {
  font-style: italic;
  border-left: 5px solid tomato;
  padding: .3em 0 .3em 1em;
  margin-bottom: 1em;
}

table {
  margin: 1em 0 2em 0;
  width: 100%;
}
table tr:first-of-type {
  background: tomato;
  color: white;
  text-transform: uppercase;
}
table th {
  text-align: left;
  padding: 5px;
}
table td {
  padding: 5px;
}

tr:nth-child(even) {
  background-color: whitesmoke;
}

@media (min-width: 40.063em) and (max-width: 64em) {
  .site-header .row {
    max-width: 95vw;
    margin-left: auto;
    margin-right: auto;
  }
  .site-header .row:after {
    content: " ";
    display: block;
    clear: both;
  }
}

@media (min-width: 64.063em) {
  .vault .row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 64.063em) {
  .vault .cat-block {
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.page section, article section, .pagination {
  max-width: 95vw;
  margin-left: auto;
  margin-right: auto;
}
.page section:after, article section:after, .pagination:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 40.063em) and (max-width: 64em) {
  .page section, article section, .pagination {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }
  .page section:after, article section:after, .pagination:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 64.063em) {
  .page section, article section, .pagination {
    max-width: 45vw;
    margin-left: auto;
    margin-right: auto;
  }
  .page section:after, article section:after, .pagination:after {
    content: " ";
    display: block;
    clear: both;
  }
}

.site-footer {
  max-width: 95vw;
  margin-left: auto;
  margin-right: auto;
}
.site-footer:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 40.063em) and (max-width: 64em) {
  .site-footer {
    max-width: 85vw;
    margin-left: auto;
    margin-right: auto;
  }
  .site-footer:after {
    content: " ";
    display: block;
    clear: both;
  }
}

.site-header {
  text-transform: lowercase;
  background: whitesmoke;
  padding-top: .5em;
  overflow: hidden;
  font-family: "sudokublack", sans-serif;
}
.site-header h2 {
  margin: 0 auto;
  font-size: 2em;
  padding-left: .5em;
  float: left;
}
@media (min-width: 40.063em) and (max-width: 64em) {
  .site-header h2 {
    padding-left: 0;
  }
}
.site-header h4 {
  float: right;
  padding-right: .5em;
  font-size: 1.4em;
  margin-left: .1em;
}
@media (min-width: 40.063em) and (max-width: 64em) {
  .site-header h4 {
    padding-right: 0;
    margin-left: 0.5em;
  }
}
@media (min-width: 64.063em) {
  .site-header h4 {
    margin-left: 0.5em;
  }
}
.site-header a {
  color: tomato;
  transition: all 0.2s ease-out;
}
.site-header a:hover {
  transition: all 0.2s ease-in;
  color: #ff8e7a;
}
.site-header nav {
  position: relative;
  top: 10px;
}

main {
  padding-bottom: 2em;
}

.posts {
  margin-left: 0;
}
.posts li {
  padding: .2em .2em;
  font-family: "sudokublack", sans-serif;
  font-size: 3.5em;
  line-height: 1em;
  text-indent: 0;
}
.posts li:before {
  content: none;
}
.posts li:nth-child(odd) {
  background: tomato;
}
.posts li:nth-child(even) {
  background: #ff4d2d;
}
.posts a {
  color: white;
}
.posts time {
  color: white;
  display: block;
  font-size: .5em;
}
@media (min-width: 40.063em) and (max-width: 64em) {
  .posts time {
    float: right;
    display: inline;
  }
}
@media (min-width: 64.063em) {
  .posts time {
    float: right;
    display: inline;
  }
}

article h1, .page h1 {
  font-size: 4.5em;
  line-height: 1em;
  text-shadow: 1px 1px 1px tomato;
  margin-bottom: .3em;
  color: whitesmoke;
  border-top: 10px dotted whitesmoke;
  border-bottom: 10px dotted whitesmoke;
  background: tomato;
  padding: .2em .2em;
  font-family: "sudokublack", sans-serif;
}
@media (min-width: 40.063em) and (max-width: 64em) {
  article h1, .page h1 {
    text-align: center;
    font-size: 5.5em;
  }
}
@media (min-width: 64.063em) {
  article h1, .page h1 {
    text-align: center;
    font-size: 7em;
  }
}

.pagination {
  margin-top: 3em;
  overflow: hidden;
}
.pagination a {
  background: tomato;
  color: white;
  border-radius: 2px;
  padding: 3px 8px;
  text-align: center;
  transition: all 0.2s ease-out;
}
.pagination a:hover {
  transition: all 0.2s ease-in;
  background: black;
}

.prev {
  float: left;
  padding-right: 15px !important;
}

.next {
  float: right;
  padding-left: 15px !important;
}

@media (min-width: 64.063em) {
  .posts li {
    transition: all 0.2s ease-out;
  }
}
@media (min-width: 64.063em) {
  .posts li:hover {
    transition: all 0.2s ease-in;
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
    background: black;
  }
}

.cat-block {
  background: #2e2e2e;
}
.cat-block h2 {
  background: #2e2e2e;
  color: white;
  margin-bottom: 0;
  padding: .2em .2em;
  font-family: "sudokublack";
  font-size: 2em;
}
.cat-block ul {
  margin-bottom: 0;
}

@-webkit-keyframes fill {
  0% {
    fill: transparent;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  50% {
    fill: white;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    fill: transparent;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
}

@keyframes fill {
  0% {
    fill: transparent;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  50% {
    fill: white;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    fill: transparent;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
}
@-webkit-keyframes trans {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
}
@keyframes trans {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
}
.websuasion {
  height: 134px;
  width: 134px;
}
.websuasion .st0 {
  fill: #28C1D9;
  stroke-width: 0.9923;
  stroke: #28C1D9;
  -webkit-animation-name: trans;
          animation-name: trans;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.websuasion .st1 {
  fill: #231F20;
  stroke-width: 0.9923;
  stroke: #231F20;
  -webkit-animation-name: trans;
          animation-name: trans;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.websuasion .st2 {
  fill: white;
  -webkit-animation-name: fill;
          animation-name: fill;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.site-footer {
  text-align: center;
  padding-bottom: 20px;
  clear: both;
}
