<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} | Andy Skiles</title>
        <meta name="viewport" content="width=device-width">
        
        <link rel="stylesheet" href="{{page.relative}}site_assets/css/main.css">

    </head>
    <body>
    
    <header class="site-header">
        <div class="row">
    		<a href="{{ page.relative }}" title="home, homie">
    			<h2>
    				Andy Skiles
    			</h2>
    		</a>

            <nav role="navigation">
               <a href="{{page.relative}}vault" title="da vault">
                    <h4>
                        da vault
                    </h4>
                </a>
                <a href="{{page.relative}}about" title="about">
                    <h4>
                        about
                    </h4>
                </a>
            </nav>
        </div>
    </header>