

main {
	padding-bottom: 2em;
}


// home page posts
.posts {
	margin-left: 0;

	li {
		padding: .2em .2em;
		font-family: "sudokublack", sans-serif;
		font-size: 3.5em;
		line-height: 1em;
		text-indent: 0;

		&:before {
			content: none;
		}

		&:nth-child(odd) {
			background: $blue;
		}

		&:nth-child(even) {
			background: darken($blue, 5%);
		}
	}

	a {
		color: white;
	}

	time {
		color: white;
		display: block;
		font-size: .5em;

		@include bp(m) {
			float: right;
			display: inline;
		}

		@include bp(l) {
			float: right;
			display: inline;
		}
	}
}




// single page
.page {}




// single post
article, .page {

	// title
	h1 {
		font-size: 4.5em;
		line-height: 1em;
		text-shadow: 1px 1px 1px $blue;
		margin-bottom: .3em;
		color: whitesmoke;
		border-top: 10px dotted whitesmoke;
		border-bottom: 10px dotted whitesmoke;
		background: $blue;
		padding: .2em .2em;
		font-family: "sudokublack", sans-serif;

		@include bp(m) {
			text-align: center;
			font-size: 5.5em;
		}

		@include bp(l) {
			text-align: center;
			font-size: 7em;
		}
	}
}

// pagination
.pagination {
	margin-top: 3em;
	overflow: hidden;

	a {
		background: $blue;
		color: white;
		border-radius: 2px;
		padding: 3px 8px;
		text-align: center;
		transition: all 0.2s ease-out;

		&:hover {
			transition: all 0.2s ease-in;
			background: black;
		}
	}
}

.prev {
	float: left;
	padding-right: 15px !important;
}

.next {
	float: right;
	padding-left: 15px !important;
}




// vault
.posts {

	li {
		
		@include bp(l) {
			transition: all 0.2s ease-out;
		}
	}

	li:hover {
		
		@include bp(l) {
			transition: all 0.2s ease-in;
			transform: rotateX(180deg);
			background: darken($blue, 70%);
		}
	}
}


.vault {}

.cat-block {
	background: lighten(black, 18%);

	h2 {
		background: lighten(black, 18%);
		color: white;
		margin-bottom: 0;
		padding: .2em .2em;
		font-family: "sudokublack";
		font-size: 2em;
	}

	ul {
		margin-bottom: 0;
	}
}





// websuasion
$w-blue: #28C1D9;

@keyframes fill {
0% {
  fill: transparent;
  transform: scale(0.2);
}
50% {
  fill: white;
  transform: scale(1);
}
100% {
  fill: transparent;
  transform: scale(0.2);
}
}

@keyframes trans {
0% {
  transform: scale(0.2);
}
50% {
  transform: scale(1);
}
100% {
  transform: scale(0.2);
}
}

// svg
.websuasion {
	height: 134px;
	width: 134px;
	
	// bottom half
	.st0 {
		fill: $w-blue;
		stroke-width: 0.9923;
		stroke: $w-blue;
		animation-name: trans;
		animation-duration: 5s;
		animation-iteration-count: infinite;
	}

	// top half
	.st1 {
		fill:#231F20;
		stroke-width: 0.9923;
		stroke:#231F20;
		animation-name: trans;
		animation-duration: 5s;
		animation-iteration-count: infinite;
	}

	// {W}
	.st2 {
		fill: white;
		animation-name: fill;
		animation-duration: 5s;
		animation-iteration-count: infinite;
	}
}



