
main {
}


.vault .row{
	
	@include bp(l) {
		display: flex;
		flex-direction: row;
	}
}

.vault .cat-block {

	@include bp(l) {
		flex-grow: 1;
	}
}


article {}

article header{}

.page section, article section, .pagination, {
	@include container(95vw);

	@include bp(m) {
		@include container(80vw);
	}

	@include bp(l) {
		@include container(45vw);
	}
}